In [1]:
import pandas as pd

try:
    price_location = pd.read_csv('/workspaces/Coworking/src/results/LocationPLaces.csv')
    print('File correct exported!')
except Exception as e:
    print('Fallo inesperado')
    
price_location

File correct exported!

,name,Neightboorhood,Population,Median Household Income,Percentage of population between 16 and 64 years,Transport,Day Pass,Month Pass
0,Basis Point Shinbashi,Shinbashi,100000,"67,176.52",0.65,4,25.84,413.39
1,Pasela Co-work Higashishinjuku,Higashishinjuku,25000,"46,506.82",0.65,3,20.67,310.05
2,AWS Startup Loft Tokyo,Akasaka,50000,"72,343.94",0.65,3,31.00,465.07
3,LULL TECH BEACH shibuya coworking space,Shibuya,230000,"56,841.67",0.65,3,31.00,413.39
4,【法人登記可】コワーキングスペースfactoria nishiogi,Nishiogi,80000,"43,406.37",0.65,3,20.67,310.05
5,WORKVILLE,Midtown,58789,192347,0.70,6,49.00,300.00
6,Rise New York,Midtown,58789,192347,0.70,6,0.00,250.00
7,The Farm SoHo NYC,SoHo,11675,175209,0.70,4,29.00,179.00
8,OASIS by Workville,Midtown,58789,192347,0.70,6,49.00,350.00
9,The New Work Project,Williansburg,138980,97432,0.60,2,40.00,370.00
10,Talent Garden Madrid,Delicias,28575,"65,785.51",0.70,6,28.99,413.04
11,Freeland Cowork,Adelfas,18832,"73,676.81",0.65,5,28.99,217.39
12,LOOM Huertas,Cortes,10816,"57,982.61",0.76,10,43.48,398.55
13,EslabOn,Opañel,33883,"44,714.49",0.70,4,21.74,259.42
14,Area,Delicias,28575,"65,785.51",0.70,4,28.99,347.83
15,Betahaus | Coworking Barcelona,Gràcia,123973,"34,591.30",0.66,1,28.99,398.55
16,OneCoWork Plaça Catalunya | Barcelona Coworking,Ciutat Vella,45671,"18,133.33",0.75,5,36.23,340.58
17,OneCoWork Catedral | Barcelona Coworking,Ciutat Vella,45671,"18,133.33",0.75,5,36.23,384.06
18,Coworking space Camaleó,Ciutat Vella,45671,"18,133.33",0.75,3,36.23,289.86
19,La Vaca Coworking Barcelona,Sants-Montjuic,40157,"27,115.94",0.63,2,31.88,347.83

In [2]:
price_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   name                                              20 non-null     object
 1   Neightboorhood                                    20 non-null     object
 2   Population                                        20 non-null     int64
 3   Median Household Income                           20 non-null     object
 4   Percentage of population between 16 and 64 years  20 non-null     float64
 5   Transport                                         20 non-null     int64
 6   Day Pass                                          20 non-null     float64
 7   Month Pass                                        20 non-null     float64
dtypes: float64(3), int64(2), object(3)
memory usage: 1.4+ KB

In [ ]:
price_location.